        form{
        /*centralizar o formulario na página*/
        margin: 0% auto;
        width: 500px;
        padding: 2em;
        border: 1px solid #ccc;
        border-radius: 1.2em;
        background-color: whitesmoke;
        }
        ul{
            list-style: none;
            padding: 0%;
            margin: 1%;
        }
        form li+li{
            margin-top: 1em;
        }
        label{
            display: inline-block;
            width: 150px;
            text-align: right;
        }
        h1{
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-style: normal;
            text-align: left;
            background-color: #e1ede1;
        }
        h3{
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-style: normal;
            text-align: center;
        }
        .botao{
            float: right; 
        }

